/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media (max-width: 992px) {
 .about-content {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 }

 .about-block .title {
  width: 100%;
 }

 .about-block-info, .about-block {
  max-width: 100%;
  width: 100%;
  margin: 0;
  min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
 }

 .about-block img {
  position: relative;
 }
 #review {
  padding-top: 75px;
 }
 #review .title {
  position: relative;
  right: 0;
  top: 0;
  text-align: left;
  margin-bottom: 30px;
  padding: 0 7px;

 }
 .review-list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: row;
 }
 .review-block {
  margin-bottom: 94px;
 }

 .review-block.review-2,
 .review-2, .review-3 {
  top: 0;
  margin-top: 0;
  position: relative;
 }
}
@media (max-width: 768px) {
 .container-main {
  padding: 0 20px;
 }

 .about-block .title {
  font-size: 45px;
  line-height: 61px;
  margin-bottom: 9px;
 }

 .about-block-info {
  margin-bottom: 18px;
 }

 .about-block .info {
  margin-left: 0;
 }

 .about-block .info p {
  font-size: 13px;
  letter-spacing: -0.5px;
 }

 #how-works .title,
 #plus .title,
 #review .title,
 #info-content .title {
  font-size: 30px;
  line-height: 41px;
  padding: 0 7px;
  letter-spacing: 0.6px;
 }
 #info-content .title {
  line-height: 27px;
  padding: 0;
 }
 .note-settings .title {
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 30px;
 }
 .note-content .title {
  font-size: 15px;
  margin-bottom: 6px;
 }
 .note-content input {
  font-size: 21px;
 }
 .note-option {
  margin-bottom: 23px;
 }
 .note-select {
  margin-bottom: 0;
 }
 .info-content-text {
  font-size: 13px;
  line-height: 21px;
 }
 .info-content-block {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 }
 .info-content-text, .info-content-img {
  max-width: 100%;
  width: 100%;
 }
 .info-content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
 }
 .info-content-img img {
  position: relative;
  top: 10px;
  left: 0px;
  /*min-width: 500px;*/
  /*max-width: 500px;*/
 }
 #info-content {
  padding-bottom: 50px;
 }
 .option-title img {
  display: inline-block;
 }
 .option-info {
  display: none;
 }
 .note-settings {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
 }
 .note-form {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  top: 18px;
  width: auto;
  margin: 0 -10px;
 }
 .note-form-wrapper {
  margin-top: 60px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
 }
 .note-settings {
  margin-left: 0;
  margin-top: 0;
 }
 .note-pay .btn {
  margin-top: 20px;
  width: 100%;
 }
 .note-pay {
  width: auto;
  padding: 20px;
 }
 .note-pay.pc-version {
  display: none;
 }
 .note-pay.mob-version {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px auto 0 auto;
 }
}
@media (max-width: 576px) {
 #about-project {
  margin-bottom: 0;
 }

 .about-block img {
  min-width: auto;
  height: 64%;
  max-width: 142%;
  display: inline-block;
  margin-top: 22px;
  margin-left: 6px;
 }

 #how-works {
  margin-bottom: 0;
 }

 #how-works .title {
  letter-spacing: 1px;
  margin-bottom: 40px;
 }

 #info-note {
  margin-top: -160px;
  margin-bottom: 0;
 }
 .plus-block {
  margin: 0 0 40px 0;
 }
 .plus-btn {
  height: 40px;
  width: 239px;
  font-size: 15px;
  line-height: 20px;
  margin-top: 27px;
 }
 #plus .title {
  margin-bottom: 28px;
 }
 .work-block-img {
  margin-bottom: 19px;
 }

 .work-block-text {
  margin: 0 -3px;
 }
 .review-block {
  margin-bottom: 86px;
  padding: 20px;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.2px;
 }
 .review-block.type-1:after {
  width: 30px;
  height: 30px;
  bottom: -30px;
  left: 20px;
 }
 .review-author {
  bottom: -63px;
  right: 11px;
 }
 .review-author .name {
  font-size: 13px;
  line-height: 24px;
 }
 .first-list .word-block:last-child {
  margin-bottom: 0;
 }

 .wbi-1 {
  margin-left: 40px;
  margin-right: 21px;
  margin-top: 19px;
 }

 .wbi-2 {
  margin-right: 34px;
 }

 .wbi-3 {
  margin-left: 27px;
  margin-right: 30px;
  margin-bottom: 10px;
 }

 .info-note-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
 }

 .info-note-text span {
  width: 100%;
  font-size: 33px;
  line-height: 42px;
  margin-bottom: 8px;
  letter-spacing: -1.5px;
 }

 .first-list {
  margin: 0;
 }
 .info-content-text, .info-content-img {
  max-width: 100%;
  width: 100%;
  top: 15px;
 }
 .info-content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
 }
 .info-content-img img {
  width: 320px;
  left: 70px;
 }
 #info-content {
  padding-bottom: 0;
 }
 .gallery-saints-area {
  justify-content: center;
 }
 .gallery-saints-area .item {
  flex: 0 0 292px;
 }
}
@media (max-width: 400px) {
 .review-block:after {
  bottom: -30px;
 }
 .note-pay {
  margin: 35px -20px 0 -20px !important;
  width: auto;
  padding: 20px;
 }
}
@media (max-width: 320px) {
 .wbi-3 img {
  height: 217px;
 }
}





