/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
 height: 100%;
}
body {
 overflow-x: hidden;
 font-family: "Open Sans", sans-serif;
 font-size: 13px;
 cursor: default;
 height: 100vh;
 color: #525252;
}
.select {
 position: relative;
 width: fit-content;
}
.select:after {
 content: '';
 background-image: url(../images/13.png);
 width: 11px;
 height: 7px;
 position: absolute;
 right: 9px;
 top: calc(50% - 7px);
 pointer-events: none;
}
select:before {
 content: '';
 background-image: url("../images/13.png");
 width: 11px;
 height: 7px;
 position: absolute;
}
.btn {
 background-color: #ccc;
 border-radius: 5px;
 color: #fff;
 font-weight: bold;
 text-transform: uppercase;
 text-decoration: none;
 font-size: 18px;
 border: none;
 outline: none;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 -webkit-transition: all .3s ease;
 -o-transition: all .3s ease;
 transition: all .3s ease;
}
.wrapper-main {
 background: #fff;
 margin-bottom: 100px;
 overflow-x: hidden;
}
.container-main {
 padding: 0 57px;
 max-width: 1024px;
 margin: 0 auto;
}
.about-content {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: nowrap;
 flex-wrap: nowrap;
}
.about-block-info {
 margin-right: 40px;
 max-width: 420px;
}
.about-block .title {
 font-weight: bold;
 font-size: 54px;
 line-height: 74px;
 color: #3E8500;
 letter-spacing: 0.2px;
}
.about-block .info {
 font-size: 14px;
 line-height: 24px;
}

.wrapper-main {
 background: #fff;
}
.wrapper-btn {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
}
.wrapper-btn.center {
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
}
.container-main {
 padding: 0 57px;
 max-width: 1024px;
 margin: 0 auto;
}
#about-project {
 margin-bottom: 92px;
}
.about-content {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: nowrap;
 flex-wrap: nowrap;
}
.about-block-info {
 margin-right: 40px;
 max-width: 421px;
 min-height: 590px;
}
.about-block {
 position: relative;
}
.about-block .title {
 font-weight: bold;
 font-size: 54px;
 line-height: 74px;
 color: #3E8500;
 letter-spacing: -1.2px;
 margin-bottom: 14px;
}
.about-block .info {
 font-size: 14px;
 line-height: 24px;
 margin-left: 3px;
}
.about-block .info p {
 margin-bottom: 24px;
}
.about-block img {
 position: absolute;
 min-width: -webkit-fit-content;
 min-width: -moz-fit-content;
 min-width: fit-content;
}
#info-note {
 margin-bottom: 64px;
}
#info-note .container-main {
 text-align: center;
}
.info-note-text {
 position: relative;
 font-size: 21px;
 color: #525252;
 letter-spacing: 0.5px;
 line-height: 42px;
}
.info-note-text span {
 font-weight: 800;
 font-size: 42px;
 line-height: 42px;
 color: #B79A3C;
 display: inline-block;
}
.info-note-img {
 margin-top: -31px;
}
#how-works {
 margin-bottom: 90px;
}
#how-works .title {
 font-weight: bold;
 font-size: 45px;
 line-height: 61px;
 color: #3E8500;
 /*letter-spacing: -1.2px;*/
 margin-bottom: 9px;
}
.first-list {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
 -webkit-box-align: baseline;
 -ms-flex-align: baseline;
 align-items: baseline;
 margin: 0 -22px;
 z-index: 5;
}
.work-block {
 margin-bottom: 30px;
 -webkit-box-flex: 1;
 -ms-flex: 1 1 280px;
 flex: 1 1 280px;
}
.work-block-img {
 /*height: 280px;*/
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: end;
 -ms-flex-align: end;
 align-items: flex-end;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 margin-bottom: 42px;
}
.wbi-1 {
 margin-left: 28px;
}
.wbi-2 {
 margin-left: 15px
}
.wbi-3 {
 margin-left: 15px
}
.work-block-text {
 line-height: 24px;
 color: #525252;
 text-align: center;
 margin: 0 15px;
}
#plus {
 position: relative;
}
#plus .container-main:after {
 z-index: 3;
 content: '';
 position: absolute;
 height: 200px;
 width: 150%;
 bottom: -100px;
 left: -25%;
 background: #fff;
 border-radius: 50%;
}
#plus .title {
 font-weight: bold;
 font-size: 45px;
 line-height: 61px;
 color: #3E8500;
 letter-spacing: 1.6px;
 margin-bottom: 35px;
}
.plus-block {
 margin: 0 15px 60px 15px;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 -webkit-box-flex: 1;
 -ms-flex: 1 1 250px;
 flex: 1 1 250px;
}
.plus-block img {
 margin-bottom: 40px;
}
.plus-text {
 text-align: center;
 line-height: 24px;
 margin: 0 -5px;
}
.plus-btn {
 background: #CAA11D;
 max-width: 260px;
 width: 100%;
 height: 50px;
}
#plus .wrapper-btn {
 margin-bottom: 60px;
 z-index: 10;
 position: relative;
}
#review {
 position: relative;
 background: #FCF7F4;
 padding-top: 93px;
}
#review .container-main {
 position: relative;
}
#review .title {
 font-weight: bold;
 font-size: 45px;
 line-height: 61px;
 letter-spacing: -0.03em;
 color: #B79A3C;
 text-align: right;
 position: absolute;
 right: 87px;
 top: -14px;
}

.review-list {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 flex-direction: column;
 -webkit-box-align: baseline;
 -ms-flex-align: baseline;
 align-items: baseline;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
 padding-bottom: 119px;
}
.review-block.review-2 {
 -ms-flex-item-align: center;
 -ms-grid-row-align: center;
 align-self: center;
 top: 86px;
 position: absolute;
 right: 0;
}
.review-3 {
 margin-top: 94px;
}
.review-block {
 position: relative;
 max-width: 430px;
 width: 100%;
 background: #fff;
 border-radius: 20px;
 padding: 30px 60px 54px 40px;
 line-height: 24px;
 /*margin-bottom: 88px;*/
}
.review-block p:last-child {
 margin-bottom: 20px;
}
.review-block:after {
 position: absolute;
 content: '';
 width: 40px;
 height: 40px;
 bottom: -35px;
}
.review-block.type-2:after {
 background-image: url("../images/img-9.png");
 right: 50px;
 -webkit-transform: scale(-1, 1);
 -ms-transform: scale(-1, 1);
 transform: scale(-1, 1)
}
.review-block.type-1:after {
 background-image: url("../images/img-9.png");
 left: 50px;
}
.review-2 .review-author {
 left: 38px;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: reverse;
 -ms-flex-direction: row-reverse;
 flex-direction: row-reverse;
 -webkit-box-pack: end;
 -ms-flex-pack: end;
 justify-content: flex-end;
}
.review-2 .review-author .icon {
 margin-right: 18px;
}
.review-author {
 position: absolute;
 bottom: -60px;
 right: 38px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
}
.review-author .name {
 font-size: 18px;
 line-height: 24px;
 margin-right: 18px;
}
.review-author .icon {
 width: 50px;
 height: 50px;
 border-radius: 50%;
 background: #B79A3C;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 color: #fff;
 font-weight: 600;
 font-size: 21px;
}

#info-content {
 background: #FCF7F4;
 padding-bottom: 170px;
}
#info-content .title {
 margin-bottom: 17px;
 font-weight: bold;
 font-size: 45px;
 line-height: 61px;
 letter-spacing: -0.03em;
 color: #B79A3C;
}
.info-content-block {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: nowrap;
 flex-wrap: nowrap;
}
.info-content-text {
 max-width: 500px;
 width: 100%;
 font-size: 14px;
 line-height: 24px;
}
.info-content-img {
 position: relative;
}
.info-content-img img {
 top: -130px;
 left: 35px;
 position: absolute;
 max-width: 612px;
 max-height: 561px;
 /*min-width: -webkit-fit-content;*/
 /*min-width: -moz-fit-content;*/
 /*min-width: fit-content;*/
}

.note-form-wrapper {
 position: relative;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: start;
 -ms-flex-align: start;
 align-items: flex-start;
}
.note-form {
 -webkit-box-ordinal-group: 2;
 -ms-flex-order: 1;
 order: 1;
 top: -55px;
 max-width: 440px;
 width: 100%;
 background: #FFFFFF;
 -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
 box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
 border-radius: 20px;
 padding: 10px;
 position: relative;
}
.note-border-line-1 {
 border: 2px solid #C7A948;
 padding: 7px;
 border-radius: 20px;
}
.note-border-line-2 {
 border: 1px solid rgba(199, 169, 72, 0.5);
 border-radius: 15px
}
.note-content {
 padding: 0 20px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
}
.note-content input {
 font-family: PT Sans, sans-serif;
 height: 46px;
 border-bottom: 1px solid #DCE4EC;
 font-size: 24px;
 line-height: 51px;
 text-align: center;
 padding: 0 10px;
 color: #B79A3C;
}
.note-content .title {
 font-weight: bold;
 font-size: 18px;
 text-transform: uppercase;
 color: #CAA11D;
 text-align: center;
 margin-bottom: 30px;
}
.note-content img {
 padding: 27px 0;
}
.inputs {
 width: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 flex-direction: column;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 margin-top: 5px;
 margin-bottom: 70px;
}
.inputs input {
 max-width: 320px;
 width: 100%;
}
.note-settings {
 -webkit-box-ordinal-group: 3;
 -ms-flex-order: 2;
 order: 2;
 margin-top: 35px;
 margin-left: 60px;
}
.note-settings .title {
 color: #B79A3C;
 font-weight: bold;
 font-size: 33px;
 line-height: 45px;
 margin-bottom: 23px;
 letter-spacing: 1.2px;
}
.note-option {
 margin-bottom: 29px;
}
.select-type-1{
 width: 100%;
}
.select-type-1 > .note-select{
 width: 100%;
}
.note-select {
 margin-bottom: 10px;
 border-radius: 5px;
 height: 40px;
 padding: 0 10px;
 width: 230px;
}
.option-btn {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 width: 250px;
 border-radius: 5px;
 cursor: pointer;
 margin-bottom: 14px;
}
.option-btn button.active {
 background: #CAA11D;
 color: #fff;
}
.option-btn button:first-child {
 border-radius: 5px 0 0 5px;
}
.option-btn button:last-child {
 border-radius: 0 5px 5px 0;
}
.option-btn button {
 border: 1px solid #CAA11D;
 max-width: 125px;
 -webkit-box-flex: 1;
 -ms-flex: 1 1 auto;
 flex: 1 1 auto;
 padding: 5px 0;
 border-radius: 0;
 font-size: 14px;
 font-weight: normal;
 text-transform: none;
 color: #525252;
 background: #fff;
}
.option-title {
 font-size: 15px;
 line-height: 20px;
 color: #4C3849;
 font-weight: bold;
 margin-bottom: 15px;
}
.option-title img {
 cursor: pointer;
 margin-left: 5px;
 display: none;
}
.option-info {
 font-size: 12px;
 line-height: 18px;
 color: #81867E;
 padding: 0 50px 0 0;
}
.note-pay {
 margin-left: auto;
 max-width: 411px;
 width: 100%;
 margin-top: 40px;
 padding-top: 20px;
 border-top: 1px solid #DCE4EC;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -ms-flex-wrap: wrap;
 flex-wrap: wrap;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
}
.note-pay.pc-version {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
}
.note-pay.mob-version {
 display: none;
 margin-top: 0;
}
.note-pay .total {
 font-size: 15px;
 line-height: 20px;
 margin-right: 15px;
}
.note-pay .money {
 font-size: 30px;
 line-height: 41px;
 font-weight: 800;
 letter-spacing: -1.8px;
}
.note-pay .money span {
 font-weight: 400;
 margin-left: 10px;
}
.note-pay .btn {
 width: 160px;
 background: #CAA11D;
 font-size: 13px;
 line-height: 18px;
 height: 40px;
 margin-left: auto;
}
#gallery-saints{
 margin-top: 40px;
}
#gallery-saints .title{
 font-family: "PT Sans", sans-serif;
 font-weight: bold;
 font-size: 24px;
 line-height: 31px;
 text-transform: uppercase;
 margin-bottom: 22px;
}
.gallery-saints-area{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 margin: 0 -10px;
}

.gallery-saints-area .item{
 position: relative;
 flex: 0 0 220px;
 min-height: 340px;
 background-color: #FFFFFF;
 box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
 border-radius: 10px;
 overflow: hidden;
 margin: 0 5px 20px 5px;
 background-image: url("../images/img-12.png");
 background-size: cover;
 background-position: center;
 display: flex;
 flex-direction: column;
}

.gallery-saints-area .item .item-date{
 position: absolute;
 font-family: "PT Sans", sans-serif;
 background-color: #76B043;
 top: 20px;
 right: -5px;
 min-width: 100px;
 padding: 10px 20px;
 text-transform: uppercase;
 font-weight: bold;
 font-size: 18px;
 line-height: 21px;
 color: #fff;
 border-radius: 5px;
}

/*.gallery-saints-area .item .icon img{*/
/* position: absolute;*/
/* width: 100%;*/
/* height: 100%;*/
/* top: 0;*/
/* left: 0;*/
/* object-fit: cover;*/
/*}*/
.gallery-saints-area .item .name{
 margin-top: 180px;
 padding: 0 10px;
 font-family: "PT Sans", sans-serif;
 font-weight: bold;
 font-size: 18px;
 line-height: 24px;
 color: #fff;
 text-align: center;
 text-transform: uppercase;
 margin-bottom: 17px;
}
.gallery-saints-area .item .tag-list{
 padding: 0 10px;
 flex-wrap: wrap;
 display: flex;
 font-family: "PT Sans", sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 10px;
 line-height: 12px;
 /* identical to box height, or 210% */
 justify-content: center;
 text-transform: uppercase;
 margin-bottom: 19px;
}
.gallery-saints-area .item .tag-list span{
 margin-right: 4px;
 padding-left: 4px;
 border-left: 1px solid #ABA5AA;
 margin-bottom: 5px;
}
.gallery-saints-area .item .tag-list span:first-child{
 padding-left: 0;
 border-left: none;
}
.gallery-saints-area .item .tag-list span:last-child{
 margin-right: 0;
}
.gallery-saints-area .item .wrapper-btn{
 padding: 0 10px;
 margin-top: auto;
 margin-bottom: 20px;
}
.gallery-saints-area .item .btn{
 font-family: "PT Sans", sans-serif;
 background: #CAA11D;
 border-radius: 5px;
 padding: 10px 20px;
 font-size: 13px;
 line-height: 21px;
 height: 40px;
 min-width: 197px;
}
.gallery-saints-area .item .info{
 padding: 0 10px;
 display: flex;
 font-family: "PT Sans", sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 11px;
 line-height: 21px;
 justify-content: center;
 color: #81747F;
 position: relative;
 margin-top: 23px;
 margin-bottom: 10px;
}
.gallery-saints-area .item .info .count{
 font-weight: bold;
}
